<header>
  <div class="couture">
    <div class="band">
      <h1><small>Découvrez la</small></h1>
      <h1>suit<span class="alterTitle">b<i class="fa fa-leaf"></i>x</span></h1>
    </div>
  </div>
</header>
