<section class="section2">
  <article>
    <h1> Pourquoi la <%= render 'suitbox' %> ?</h1>
      <div class="thumb">
        <div class="filter">
          <h1> Image non contractuelle </h1>
        </div>
          <img src="assets/craftbox.jpg">

    </div>
      <p>La boite contiens donc un modèle de vêtement en kit, que vous pouvez découper à votre taille en suivant le marquage</p>
      <p>Des accessoires et des outils pour personaliser ces vêtements selon vos envies !</p>
      <p> Un pot et une graine de coton, ne jetez rien à la poubelle, à la place, laissez le tout ce décomposer dans le jardin pour nourir votre futur plante</p>

  </article>

</section>
