<section class="section2">
  <article>
    <h1> Qu'est ce que la <%= render 'suitbox' %> ?</h1>
      <div class="thumb">
        <div class="filter">
          <h1> Image non contractuelle </h1>
        </div>
          <img src="assets/craftbox.jpg">

    </div>
      <p>L'ensemble du kit à été pensé de façons écologique, en réduisant un maximum l'impacte de la production sur l'environnement. Plastiques bio-recyclables, textiles bio-dégradables, colorants naturels...</p>
      <p>Grâce à nos tutoriels vidéos livrés sur votre compte <%= render 'suitbox' %>, vous deviendrez votre propre styliste, tout en faisant un geste pour la planète !

  </article>

</section>
