<section class="section4">
  <article>
    <h1> Qu'est ce que la <%= render 'suitbox' %> ?</h1>
    <p>Intéréssé par la <%= render 'suitbox' %>?</p>

      <a href="/log_in">Inscrivez vous!</a>

  </article>

</section>
