<section class="section1">
  <article>
    <h1> Qu'est ce que la <%= render 'suitbox' %> ?</h1>
    <p>La <%= render 'suitbox' %> est un vêtement écologique personalisable, <bold>en kit ! </bold><p>
      <p>Avec la <%= render 'suitbox' %>, vous réaprendrez à vous approrier la mode, vous pratiquerez une activité manuel, et vous construirez un vêtement en vous amusant.</p>
      <p>L'ensemble du kit à été pensé de façons écologique, en réduisant un maximum l'impacte de la production sur l'environnement. Plastiques bio-recyclables, textiles bio-dégradables, colorants naturels...</p>
      <p>Grâce à nos tutoriels vidéos livrés sur votre compte <%= render 'suitbox' %>, vous deviendrez votre propre styliste, tout en faisant un geste pour la planète !

  </article>

</section>
