div.chevron {
  display:block;
  position: relative;
  padding-top: 20px;
  text-align: center;
  padding-bottom: 20px;
  width: 100%;
  background-color: rgba(32,32,32,1);
  z-index: -1;
  border-bottom: 8px dashed rgba(243,157,65,1);

    i{
      font-size: 40px;
      color: rgba(243,157,65,1);
    }
}
