div.chevron {
  display:block;
  position: relative;
  margin-top: 20px;
  text-align: center;
  border-bottom: solid 1px lightgreen;
  padding-bottom: 20px;

    i{
      font-size: 40px;
      color: rgba(169,245,65,1);
    }
}
