section.section2 {
  display: block;
  position: relative;
  width: 100%;
  background-color: rgba(106,179,84,1);
  border-bottom: 8px dashed rgba(32,32,32,1);

  article {
    display: block;
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

    h1{
      font-size: 26px;
      color: black;
      /*text-shadow: 0px 0px 4px black;*/
      margin-bottom: 40px;


    }

    div.thumb {
      position: relative;
      width: 100%;
      height: 280px;
      overflow: hidden;
      border-top-left-radius: 50px;
      border-bottom-right-radius: 50px;

      div.filter {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 100;
        transition: all ease 1s;
        padding-top: 180px;
        box-sizing: border-box;

        h1 {
          color: rgba(255,255,255,0);
          transition: all ease 3s;
        }

        &:hover {
          background-color: rgba(243,157,65,0.7);
          h1{
          color: rgba(255,255,255,1);
          }
        }
      }
      img{
        position: relative;
        width: 100%;
      }

    }

    p {
      text-align: center;
      line-height: 2.5;
      color: white;
      font-weight: bold;
      margin-bottom: 50px;
    }
  }
}

@media all and(min-width: 700px) and (max-width: 1100px){
  section.section2{

    article{  
      padding-top: 60px;
      padding-bottom: 60px;

        div.thumb {
           height: 480px;
           width: 80%;
           margin-left: auto;
           margin-right: auto;

           div.filter {
             padding-top: 380px;
           }

        }
    }
  }

}
